<h1>Access the World's Leading News Agencies</h1>
<h3>Sell your media as a self-syndicated freelance journalist</h3>
<p>Whether you are a photographer, videographer or writer, your content can break the story.</br> We                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           do everything possible to help you sell content and access work opportunities
Submit news stories from any location via the website or mobile app for sale
Sell any kind of content in any combination or individually
Set your own price for content in the Marketplace
Create and develop your personal portfolio to showcase your work
Access real news gathering assignments in your area, set by the media
Undertake assignments, get paid, add the work and reviews to your profile
Extend your client base by selling to media organisations around the world
Communicate directly with newsrooms</p>
